<!doctype html>
<html>
   <body>
   
      <table border = 1>
         <thead>
            <td>titulo</td>
            <td>autor>/td<
            <td>CIUDAD</td>
            <td>clave</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["name"]}}</td>
               <td>{{row["addr"]}}</td>
               <td> {{ row["city"]}}</td>
               <td>{{row['pin']}}</td>	
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/">Regrese a la página</a>
      
   </body>
</html>